:root{
    --black: #000000;
    --gray: #908D8D;
    --fontCol: #FFFFFF;
    --blackFontCol: #404040;
    --spanCol: #e6e5e5;
    --lightShadow: #A2A2A2;
    --cyan: #95EBFF;
    --pink : #F08080;
    --linkCol: #0079FF;
    --btCol :#03A87C;
    --outBgCol: #F2F2F2;
    --inBgCol: #FFFFFF;
}